.App {
  text-align: center;
}

.login-page {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.login-card button {
    background-color: #ff6004;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 250px;
}

.login-card input {
    width: 242px;
    height: 30px;
    border-radius: 3px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #D3D3D3;
}

.login-card {
  margin: 0 auto;
  max-width: 250px;
  padding: 10px 15px 15px 15px;
  background-color: #ffffff;
  border-radius: 5px;

}

.login-page .logo {
    margin-top:0;
    font-family: 'Righteous';
    letter-spacing: 2px;
}

.login-page {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}



