// Google fonts
@import url(https://fonts.googleapis.com/css2?family=Righteous&family=Yellowtail&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// Colors
$background-color-darker: #14161a;
$background-color: #1e2126;
$primary: #ff6004;
$card-color: #edf0f7;

$theme-colors: (
	"primary": $primary,
);

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Others
$navbar-height: 60px;


/*
 * General
 */
body {
	background-color: $background-color;
}

.App {
	color: white;
	font-family: 'Open Sans', sans-serif;
}

.card {
	margin: 0 auto;
	gap: 10px;
	max-width: 300px;
	height: min-content;
	padding: 10px;
	border-radius: 5px;
	background-color: $card-color;
}

.center {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - (2 * $navbar-height));
	margin-top: $navbar-height;
	margin-left: auto;
	margin-right: auto;
}

.logo-font {
	font-family: 'Righteous';
}

.big-font {
	font-size: 2.6rem;
}

/*
 * Buttons
 */
.button-default {
	width: 100%;
	border-radius: 3px;
	color: white;
	font-size: 1.2rem;
	font-weight: bold;
	cursor: pointer;
}

/*
 * Fields
 */
.field-default {
	width: 100%;
	height: 40px;
	border-radius: 3px;
	text-align: center;
	font-size: 1.2rem; 
	font-weight: bold;
	border: 2px solid #D3D3D3;
}

/*
 * Components
 */

// Navbar
.nav {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	max-height: $navbar-height;
	background-color: $background-color-darker;
}

.nav a, .nav h2 {
	color: white !important;
}

.nav h2 {
	font-size: 2.5rem;
}

// Login
.login-page {
	letter-spacing: 2px;
	background-color: $background-color-darker;
	background-repeat: no-repeat;
	background-position: bottom 50px right 50px;
	background-size: cover;
	background-image: url('./images/background.svg');
	min-height: 100vh;
	margin: 0;
}

// Game
.game-container {
	max-width: 600px;
}

// player
.players-list {
	display: flex;
	width: 70%;
	align-items: center;
	font-size: 1.5rem;
	gap: 40px;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 30px;
	margin-bottom: 40px;
}

.player {
	flex-basis: 30%;
	animation-name: appear;
	animation-duration: 0.3s;
	position: relative;
	background-color: $primary;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	min-width: 70px;
	max-width: min-content;
	height: min-content;
	border-radius: 5px;
	overflow: hidden;
	opacity: 0.9;
}

.player-emoji {
	position: absolute;
	padding: 0px;
	margin: 0px;
	font-size: 3.4rem;
	color: $background-color;
	transform: translate(-50%, -50%);
	top: 70%;
	right: -36px;
	z-index: -1;
	opacity: 0.2;
}

.player-name {
	margin: 0px;
	z-index: 1;
	text-align: center;
}

// mission
.mission-container {
	display: flex;
	gap: 20px;
	align-items: center;
	flex-direction: column;
}

.mission-card {
	width: 100%;
	display: flex;
	align-items: center;
	background-color: lighten($color: $background-color, $amount: 5);
	padding: 15px 5px 15px 15px;
	cursor: pointer;
}

.mission-chevron {
	font-size: 1.5em;
	margin-left: auto;
}

.mission-text {
	text-align: left;
	margin-left: 10px;
}

.mission-icon {
	font-size: 1.6rem;
	background-color: $primary;
	text-align: center;
	min-width: 50px;
	line-height: 50px;
	border-radius: 50%;
}

// joining
.joining {
	font-weight: bold;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.answer-container {
	width: 100%;
}

// Answer
.answer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100%;
}

.answer-camera-btn {
	position: absolute;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.8rem;
	opacity: 0.8;
	color: black;
	right: -1px;
	bottom: -1px;
}

.answer-camera-btn:hover {
	opacity: 1;
	cursor: pointer;
}

.answer-input {
	width: 100%;
	position: relative;
}

// Camera
.camera {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.camera-reader {
	width: 100%;
}


/*
 * Keyframes
 */
@keyframes appear {
	0% {
		transform: scale(50%, 0);
	}
}

