// Google fonts
@import url(https://fonts.googleapis.com/css2?family=Righteous&family=Yellowtail&display=swap);

// Colors
$background-color: #282c34;
$primary: #ff6004;
$card-color: #edf0f7;

$theme-colors: (
  "primary": $primary,
);


// Font Variables
$Righteous: "Righteous";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

$navbar-height: 60px;

.App {
	text-align: center;
	background-color: $background-color;
}

.white {
	color: white;
}

.nav {
	max-height: $navbar-height;
	background-color: darken($color: $background-color, $amount: 5);
}

.nav a {
	color: white !important;
}


.login-page, .game {
	box-sizing: border-box;
	min-height: 100vh;
	color: white;
}

.App-link {
	color: #61dafb;
}

.qr-code-buttons {

}
.qr-code-buttons button {
	color:white;
	border-radius:3px;
	font-size:1.2rem;
	margin-top:12px;
}


.login-button, .name-button, .task-checkButton {
	color: white;
	border-radius: 3px;
	font-size: 1.2rem;
	font-weight: bold;
}

.task-cameraButton {
	color: white;
	text-align: center;
}

.task {
	max-width:600px;
	margin: 0 auto;
}

.task-camera {
	width: 100%;
	animation-name: open;
	animation-duration: 0.5s;
	border-radius: 10px;
}

@keyframes open {
	from {height: 0;}
	to {height: auto;}
}


.login-input, .name-input, .task-field {
	width: 100%;
	height: 40px;
	border-radius: 3px;
	text-align: center;
	font-size: 1.2rem; 
	font-weight: bold;
	border: 2px solid #D3D3D3;
}
.task-camera-btn {
	position:absolute;
	padding-left:20px;
	padding-right:20px;
	font-size:1.8rem;
	opacity:0.8;
	color:black;
	right:-1px;
	bottom:-1px;
}
.task-camera-btn:hover {
	opacity:1;
	cursor:pointer;
}

.task-input {
	position:relative;
}

.login-card, .name-card {
	margin: 0 auto;
	max-width: 400px;
	height: min-content;
	padding: 10px;
	border-radius: 5px;
	background-color: $card-color;
}

.login-page, .name-enter {
	color: white;
	margin-top: 0;
	letter-spacing: 2px;
	font-size: 2.6rem;
}

.name-enter {
	min-height: calc(100vh - (#{$navbar-height * 2}));
}

.nav-logo {
	font-size: 2.5rem;
	color: white;
}

.logo {
	font-family: $Righteous;
}

